@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1469165281_519002.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/font_1469165281_519002.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1469165281_519002.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1469165281_519002.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1469165281_519002.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
::-webkit-scrollbar {
  width: 0px;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  font-size: 13px;
}
[v-cloak] {
  display: none;
}
a {
  color: #eceff1;
}
.hide {
  display: none;
}
html,
body {
  width: 100%;
  height: 100%;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
