/**
 * Created by qiuyongjin on 2017/6/27.
 */
@import "base";

#div-wrap {
    position: fixed;
    width: 250px;
    top: 50px;
    right: 0;
    bottom: 0;
    z-index: 100;
    color: #fff;
    background: @color1;
}